.message-form_box
  .message_form
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'form__message', placeholder: 'type a message'
        .img-btn_box
          = f.label :image, class: "form-mask__image" do
            .img
              = fa_icon "image"
              = f.file_field :image, class: "form__mask__image"
  .send-btn_box
              = f.submit 'SEND' do


    .form
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'form__message', placeholder: 'type a message'
        .form__mask
          = f.label :image, class: 'form__mask__image' do
            = fa_icon 'picture-o', class: 'icon'
            = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'form__submit'