.top-window
  .p グループを作成しました
.body
  .left-box
    .user-header
      .user-header_box
        .name-box
          .p user-name
        .icon-box
          .new-group_icon
            = link_to "", class: "edit-icon" do
              = fa_icon 'edit'
          .sdit-user_icon
            = link_to "", class: "cog-icon" do
              = fa_icon 'cog'
    .group-menu
      .group-menu_space
        .group-name
          .p Group Name
        .message-preview
          .p Message Preview
  .right-box
    .group-header
      .group-header_left-box
        .current-group_name
          .p Group Name
        .member-list_box
          .member-title
            .p member
          .member
            .p user-name
      .group-header_right-box
        .p Edit
    .message-room
      .message-box
        .comment-user_detail
          .user-name_box
            .p User-name
          .time-log
            .p 2019/10/03
        .message
          .p message
    .comment-fotter
      .message-form_box
        .message_form
          .p type a message
        .img-btn_box
          .img
            = form_for "" do |f|
              = f.label :image, class: "main-form__image" do
                = fa_icon "image"
                = f.file_field :image, class: "main-form__image--default"
      .send-btn_box
        .p SEND
